[submodule "desktop/Showcase-Header"]
	path = desktop/Showcase-Header
	url = https://github.com/JoshDoesStuff/Showcase-Header
[submodule "desktop/ShowcaseHeader"]
	path = desktop/ShowcaseHeader
	url = https://github.com/JoshDoesStuff/ShowcaseHeader
