.text1 {
    display: flex;
    flex-wrap: wrap;
    flex: 0.7;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
}


img {
    border-radius: 8px;
    max-width: 80%;
    height: auto;
    display:flex;
    align-content: center;
}

p.dialogue {
    font-size: 35px;
    font-family: 'Oxanium', monospace;
}

p.legal {
    font-size: 30px;
    font-family: 'Oxanium', monospace;
}

.image1 {
    flex: 1;
}

.titleText {
    padding-top:1.25em;
    font-size: 96px;
    font-family: 'monospace', Overpass Mono;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 12rem;
    padding-top: 8rem;
    background-image: url(./img/experiencesTopBG.png); 
    background-size: cover;
    aspect-ratio: 6/2;
}

.middle2 {
    display: flex;
    justify-content: center;
    margin-left: 10em;
    margin-right: 12em;
    padding-top: 5em;
}

p.text2 {
    font-size: 35px;
    font-family: 'Oxanium', monospace;
}

.image4 {
    display: flex;
    justify-content: flex-end;
}

.image2 {
    border-radius: 8px;
    max-height: 900px;
    width: 100%;
    height: auto;
    object-fit: cover;
    flex: 1;
}


.text2 {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    flex-flow: row wrap;
    max-width: 1600px;
    margin: 0em auto 4em;
    justify-content: space-between;
}

.column.half {
    width: 48%;
}

.column img {
    min-width:100%;
    min-height:100%;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
}

.row:nth-of-type(odd) .column:first-of-type {
    order: 1;
} 

@media screen and (max-width: 720px) {
    #openmenu {
        display: initial !important;
    }

    header {
        display: none !important;
    }
}