.text1 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex: 0.7;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-content: center;



}
body {
    margin:0;
    background-color: #4B9560;
    color: white;
    font-size: 120%;
}


img {
    border-radius: 8px;
    max-width: 80%;
    height: auto;

}

p {
    font-size: large;
    font-family: 'Oxanium', monospace;

}

p.dialogue {
    font-size: 35px;
}

p.legal {
    font-size: 30px;
}

.image1 {
    flex: 1;
}

h1.title {
    font-size: 96px;
    font-family: 'monospace', Overpass Mono;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    padding-left: 4%;
}

.middle {
    display: flex;
    justify-content: center;
}

p.text2 {
    font-size: 35px;
    padding-left: 10%;
}

img.image2 {
    border-radius: 8px;
    max-height: 500px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text2 {
    display: flex;
    align-items: center;
}