.text1 {
    display: flex;
    flex-wrap: wrap;
    flex: 0.7;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
}
body {
    background-color: #4B9560;
    color: white;
    font-size: 120%;
    margin: 0;
}


img {
    border-radius: 8px;
    max-width: 80%;
    height: auto;
    display:flex;
    align-content: center;
}

p.dialogue {
    font-size: 35px;
    font-family: 'Oxanium', monospace;
}

p.legal {
    font-size: 30px;
    font-family: 'Oxanium', monospace;
}

.image1 {
    flex: 1;
    
}

h1.title {
    font-size: 96px;
    font-family: 'monospace', Overpass Mono;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 9rem;
    padding-top: 8rem;
}

.middle2 {
    display: flex;
    justify-content: center;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 5em;
}

p.text2 {
    font-size: 35px;
    font-family: 'Oxanium', monospace;
}

.image4 {
    border-radius: 8px;
    max-height: 500px;
    width: 100%;
    height: auto;
    object-fit: cover;
    flex: 1;
    display: flex;
    justify-content: center;
}

.text2 {
    display: flex;
    align-items: center;
}

.midde {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 5em;
}