.titleText {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 80px;
    line-height: 0.0rem;
    font-family: 'Overpass Mono', monospace;

}

.title {
    background-image: url("img/mainPageTopBG.png");
    background-size: cover;
    aspect-ratio: 4/3;

}


.line3 {
    font-size: 70px;

}

.first {
    display: flex;
    flex-direction: row;
    /* flex:2; */
    justify-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 5em;
}


.head1 {
    font-size: 33px;
    font-family: 'Oxanium', monospace;
    padding-bottom: 1em;
}

.mssg1 {
    font-size: 28px;
    font-family: 'Overpass Mono', monospace;
    padding-left: 2em;
}

.second {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 5em;
}

.text2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2em;
    padding-bottom: 6em;
}

.mssg2,
.mssg3 {
    font-size: 28px;
    font-family: 'Overpass Mono', monospace;
}

body {
    margin: 0;
    background-color: #4B9560;
    color: white;
    font-size: 120%;
}

img {
    scale: 100%;
    object-fit: fill;
}

.img2 {
    padding-left: 0em;
}

.img1 {
    padding-right: 4em;
}

button {
    --b: 7px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #e2e2e2;
    font-weight: bold;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 55px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover,
button:focus-visible {
    --_p: 0px;
    outline-color: #ffffff;
    outline-offset: .05em;
}

button:active {
    background: #ffffff;
    color: #000000;
}

.titleButton {
    display:flex;
    justify-content: center;
    padding-top:10em;
}