.subheader {
    display: flex;
    justify-content: center;
}




.headerish {
    display:flex;
    justify-content: center;
}


.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 

.options {
   display: flex;
   justify-content: center; 
}


.input2 {
    size:300px;
}

.input-container {
    position: relative;
    margin: 12px ;
    width: 500px;
    size:200px
  }
  
  .input-container input[type="text"],input[type="password"] {
    font-size: 42px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label,
  .input-container input[type="password"]:focus ~ .label,
  .input-container input[type=""]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: #333;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline,
  .input-container input[type="password"]:focus ~ .underline,
  .input-container input[type="password"]:valid ~ .underline {
    transform: scaleX(1);
  }
  