.subheader {
    display: flex;
    justify-content: center;
    font-family: 'Overpass Mono';
    font-size: 80px;
}

.headerish {
    display: flex;
    justify-content: center;
    font-family: 'Overpass Mono';
    font-size: 24px;
}


.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oxanium';
}


.options {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button1, .button2 {
    font-family: 'Overpass Mono';
    font-size: x-large;
    border: 4px white solid;
    color: white;
    background-color: transparent;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.button1:hover, .button2:hover {
    background-color: white;
    color: black;
}


.input2 {
    size: 300px;
}

.input-container {
    position: relative;
    margin: 12px;
    width: 500px;
    size: 200px
}

.input-container input[type="text"],
input[type="password"] {
    font-size: 42px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
    font-family: 'Oxanium';
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input[type="text"]:focus~.label,
.input-container input[type="text"]:valid~.label,
.input-container input[type="password"]:focus~.label,
.input-container input[type=""]:valid~.label {
    top: -20px;
    font-size: 16px;
    color: #333;
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="text"]:focus~.underline,
.input-container input[type="text"]:valid~.underline,
.input-container input[type="password"]:focus~.underline,
.input-container input[type="password"]:valid~.underline {
    transform: scaleX(1);
}

.cart {
    font-family: 'Overpass Mono';
}

@media screen and (max-width: 720px) {
    #openmenu {
        display: initial !important;
    }

    header {
        display: none !important;
    }
}