
.titleText {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 50px;
    line-height: 0.0rem;
    font-family: 'Overpass Mono', monospace;
}

.title {

}
.line3 {
    font-size: 46px;

}

.first {
    display: flex;
    flex-direction: row;
    /* flex:2; */
    justify-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 15em;
}


.head1 {
    font-size: 33px;
    font-family: 'Oxanium', monospace;

}

.mssg1 {
    font-size: 28px;
    font-family: 'Overpass Mono', monospace;
}

.second {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 5em;
}

.text2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0.5em;
}

.mssg2,
.mssg3 {
    font-size: 28px;
    font-family: 'Overpass Mono', monospace;
}

body {
    margin:0
}

.title{
    position: relative;
}

img.img2 {
    scale: 200%;
}